@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ==== TOC ================================================================
   [0] Settings  | [1] Base  | [2] Type  | [3] Layout  | [4] Components | [5] Utils
   ======================================================================= */
/* region Settings */
/* [0] Settings ----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* endregion */
/*region Base*/
/* [1] Base --------------------------------------------------------------- */
:root {
  --text-purple: hsla(259, 72%, 47%, 1);
  --section-purple: hsla(241, 78%, 60%, 1);
  --button: hsla(337, 83%, 60%, 1);
  --footer-black: hsla(0, 0%, 5%, 1);
  --ghost-text-purple: hsla(248, 100%, 97%, 1);
  --tile-text: hsl(210, 16%, 93%, 1);
  --card-background: hsla(150, 33%, 96%, 1);
  --service-text: rgb(139, 139, 139);
}

:root {
  --ff-body: "Roboto", sans-serif;
  --ff-heading: "Merriweather", serif;
}

:root {
  --trim-h: 60px;
  --trim-h2: 24px;
}

/*endregion*/
/*region Type*/
/* [2] Type --------------------------------------------------------------- */
html {
  font-size: 16px;
  /* mobile text format voor responsiveness */
}

body {
  font-family: var(--ff-body), sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading), serif;
}

h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

input, button, select, textarea, a {
  font-family: var(--ff-body), sans-serif;
}

button {
  border: none;
  background-color: var(--button);
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--ghost-text-purple);
  padding: 1.3rem 2.5rem;
  margin-top: 1rem;
  border-radius: 999rem; /*geleerd van chatgpt lol*/
  box-shadow: -17px 10px 30px -10px rgba(0, 0, 0, 0.24), 17px 10px 30px -10px rgba(0, 0, 0, 0.24);
}

a {
  text-decoration: none;
}

header a {
  color: var(--ghost-text-purple);
}

nav {
  font-size: 1.2rem;
  font-weight: 300;
}

/*endregion*/
/*region Layout*/
/* [3] Layout ------------------------------------------------------------- */
/*endregion*/
/*region Areas*/
/* [4] Areas --------------------------------------------------------- */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgb(76, 73, 233) 66%, rgb(88, 34, 206) 100%);
  position: relative;
  isolation: isolate;
  overflow: visible;
}

header > * {
  z-index: 1;
}

header::before {
  content: "";
  position: absolute;
  inset: 0; /* dekt de hele header */
  background-image: url("../assets/noise-texture.png");
  background-repeat: repeat; /* laat ‘m tegelen */
  opacity: 0.3; /* intensiteit van de grain */
  pointer-events: none;
  z-index: 0; /* onder de content houden */
}

.float-text-wrapper:not(#white-bg) {
  position: relative;
  isolation: isolate; /* eigen stacking context */
}

.float-text-wrapper:not(#white-bg)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--trim-h);
  background: #fff;
  clip-path: polygon(-89% 149%, 106% -1%, 136% 93%);
  z-index: 1;
}

.float-text-wrapper:not(#white-bg)::before {
  content: "";
  position: absolute;
  inset: 0; /* dekt alleen dit blok */
  background-image: url("../assets/noise-texture.png");
  background-repeat: repeat;
  opacity: 0.2;
  pointer-events: none;
  z-index: 0;
}

.float-text-wrapper > * {
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 3.5rem;
  padding: 3rem 2rem;
}

.float-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--ghost-text-purple);
  font-size: 1.6rem;
  font-weight: 300;
  padding: 4rem;
  padding-bottom: 13rem;
  gap: 1.1rem;
  position: relative;
  overflow: visible;
  z-index: 0;
  min-height: 400px;
}

.float-text-wrapper h1 {
  color: var(--ghost-text-purple);
}

.witte-fliebel {
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
}

#white-bg {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
}

#white-bg::before {
  content: "hello";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -72%);
  font-size: 24rem;
  font-weight: 700;
  color: hsla(259, 72%, 47%, 0.05);
  z-index: -1;
  pointer-events: none;
}

.purple-text {
  color: var(--text-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--ff-heading), sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
  width: 60%;
  gap: 2rem;
  flex-grow: 1;
}

#question-link {
  color: var(--footer-black);
  font-family: var(--ff-body), sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: auto;
  padding-top: 8rem;
}

#question-link a {
  color: var(--text-purple);
  text-decoration: none;
  margin-top: auto;
}

.arrow-right-projects {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 143vw solid white;
  border-bottom: 69px solid transparent;
  border-left: 0 solid transparent;
  top: -1rem;
  right: -1rem;
  z-index: 1;
}

.projects-container::before {
  content: "";
  position: absolute;
  inset: 0px -74px 54px -10px;
  height: var(--trim-h);
  background: #ffffff;
  clip-path: polygon(-109% 177%, 98% 0%, 73% -159%);
  z-index: 1;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  box-shadow: inset 0 24px 40px -2px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  isolation: isolate;
}

.article-card:nth-of-type(1)::before {
  content: "work";
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-54%, -72%);
  font-size: 29rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.5607843137);
  z-index: 0;
  pointer-events: none;
  letter-spacing: -0.9rem;
}

.article-card > * {
  position: relative;
  z-index: 1;
}

.article-card:nth-of-type(1) {
  padding: 15rem 4rem 3rem 3rem;
}

.article-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  background-color: var(--tile-text);
  padding: 4rem 4rem 3rem 3rem;
  gap: 2rem;
  position: relative;
}

.article-card:last-of-type {
  padding: 4rem 4rem 8rem 3rem;
}

.article-card h2 {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  margin: 0;
}

.article-card h2::after {
  content: "";
  display: block; /* komt onder de tekst te staan */
  width: clamp(4rem, 40%, 4rem); /* breedte van de lijn */
  height: 14px; /* hoogte van de PNG/SVG */
  margin: 1rem 1rem 1rem 0; /* auto => centreren onder de tekst */
  background: url("../assets/squiggle_line.svg") no-repeat center/contain;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem 5rem 5rem 5rem;
  font-size: 1.3rem;
  min-width: 0;
  flex-basis: 700px;
  flex-grow: 0;
  flex-shrink: 1;
}

.article-text a {
  position: relative;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
}

.article-text a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-purple);
  transition: width 0.2s ease-in;
}

.article-text a:hover::after {
  width: 2rem;
}

.article-image img {
  display: block;
  width: 100%;
  height: auto;
}

.article-image {
  display: block;
  width: 100%;
  height: auto;
  flex-basis: 800px;
  flex-grow: 1;
  flex-shrink: 0;
  box-shadow: -17px 10px 30px -10px rgba(0, 0, 0, 0.24), 17px 10px 30px -10px rgba(0, 0, 0, 0.24);
}

.article-card:nth-of-type(2) {
  flex-direction: row-reverse;
}

.arrow-right-grey {
  position: absolute;
  left: 0;
  top: 0; /* anker aan bovenkant van de sectie waar hij in zit */
  width: 0;
  height: 0;
  border-left: 100vw solid #fff;
  border-top: 52px solid transparent;
  z-index: 1;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.services-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12rem 8rem;
  gap: 2rem;
  flex-wrap: wrap;
  isolation: isolate;
  z-index: 1;
}

.services-card-wrapper > * {
  z-index: 1;
}

.services-card-wrapper::before {
  content: "services";
  position: absolute;
  top: 229rem;
  left: 50%;
  transform: translate(-50%, -72%);
  font-size: 17rem;
  font-weight: 700;
  color: hsla(259, 72%, 47%, 0.05);
  z-index: 0;
  pointer-events: none;
}

.services-card {
  background-color: white;
  display: flex;
  color: var(--service-text);
  flex-direction: column;
  border: 1.5px solid var(--text-purple);
  font-weight: 300;
  padding: 2rem;
  flex-basis: 465px;
  gap: 1rem;
  box-shadow: -3px 10px 30px -20px rgba(0, 0, 0, 0.24), -2px 10px 30px -20px rgba(0, 0, 0, 0.24);
}

.services-card img {
  display: block;
  width: 5rem;
}

.services-card h2 {
  color: var(--text-purple);
  font-weight: 500;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #4C49E9;
  background: linear-gradient(90deg, rgb(76, 73, 233) 66%, rgb(88, 34, 206) 100%);
  padding: 3rem 4rem 3rem 3rem;
  isolation: isolate;
  position: relative;
}

.form-container:not(.arrow-right-bottom)::after {
  content: "";
  position: absolute;
  inset: 0; /* dekt de hele header */
  background-image: url("../assets/noise-texture.png");
  background-repeat: repeat; /* laat ‘m tegelen */
  background-size: 300px 300px;
  opacity: 0.2; /* intensiteit van de grain */
  pointer-events: none;
  z-index: 0; /* onder de content houden */
}

.form-container > * {
  position: relative;
  z-index: 1;
}

.form-container p {
  font-size: 1.2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  flex-basis: 300px;
  margin-bottom: 0.5rem;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.form-container button {
  width: 15%;
  margin-top: 0.5rem;
}

input {
  padding: 2rem 1rem;
  border-radius: 0.2rem;
  border: 1px var(--service-text) solid;
  width: 50rem;
  height: 3rem;
  text-align: left;
}

::placeholder {
  font-size: 1rem;
  color: var(--service-text);
}

textarea {
  resize: vertical;
  height: 10rem;
  padding: 1rem;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 1.3rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.arrow-right-bottom {
  position: absolute;
  right: -1rem;
  bottom: 757px;
  width: 0;
  height: 0;
  border-right: 203vw solid #fff;
  border-bottom: 48px solid transparent;
  z-index: 2;
}

/*endregion*/
/*region Media Queries*/
/* [5] Media Queries -------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 18px;
  }
  /* tablets */
}
@media screen and (min-width: 1200px) {
  /* voor desktops en groter */
  html {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  h1 {
    font-size: 2rem;
  }
  .form-container p {
    font-size: 1.1rem;
  }
  header {
    padding: 1rem 0 0 0; /* compacte side padding */
  }
  .form-container {
    padding: 6rem 0 0 0;
  }
  .form-container > .float-text-wrapper {
    padding: 0 0 2rem 0;
  }
  form {
    padding: 1rem 1rem 1rem 1rem;
  }
  form::placeholder {
    text-align: left;
    line-height: 2rem;
  }
  #white-bg {
    padding: 1rem 0 1rem 0;
  }
  .projects-container {
    padding: 1rem 0 1rem 0;
    box-shadow: none;
    margin-top: 4rem;
  }
  .article-card {
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1rem; /* minder padding */
  }
  .article-text,
  .article-image {
    flex: 0 0 auto; /* geen vaste basis */
    min-width: 0; /* laat shrinken */
    padding: 0; /* haal extra padding weg hier */
  }
  .article-image img {
    display: block;
    width: 100%;
    height: auto; /* geen uitrekken */
    object-fit: cover; /* desnoods croppen */
  }
  /* jouw stapel */
  .article-card:nth-of-type(2) {
    flex-direction: column;
  }
  .article-card:nth-of-type(1),
  .article-card:last-of-type {
    padding: 1.5rem 1rem;
  }
  .article-card:nth-of-type(1) {
    padding-top: 6rem;
  }
  .services-container {
    padding: 4rem 0 3rem 0;
  }
  .services-card-wrapper {
    padding: 1rem 3rem 4rem 3rem;
  }
  .services-card {
    width: 100%;
  }
  nav {
    justify-content: space-around;
    font-weight: 600;
    margin-top: 0.3rem;
    padding-top: 1rem;
  }
  input, textarea {
    width: 100%;
    max-width: 100%;
    font-size: 3.2rem;
  }
  .form-container button {
    width: 54%;
    padding: 1.9rem 0;
    font-size: 0.95rem;
  }
  .services-card-wrapper::before {
    content: none !important;
  }
  .float-text-wrapper:not(#white-bg)::after {
    height: var(--trim-h2);
  }
  .projects-container::before {
    height: var(--trim-h2);
    inset: 13px -74px 54px -10px;
  }
  #question-link {
    padding-top: 3rem;
  }
}
/*endregion*/
